@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&=fallback");

@layer base {
  :root {
    //////////
    //colors//
    //////////

    --bg-body: #ffffff;

    --bg-primary: #212121;
    --bg-secondary: #eeeeee;
    --bg-accent: #585454;

    --bg-overlay: rgba(0, 0, 0, 0.5);

    --text-primary: #212121;
    --text-secondary: #ffffff;
    --text-accent: #a1a1a1;

    --pink-color: #ff00d4;
    --yellow-fluo-color: #eaff00;
    --yellow-color: rgb(255, 251, 0);
    --green-color: #00ff2b;
    --blue-color: #08d6ff;

    ////////
    //typo//
    ////////

    font-family: "League Spartan", sans-serif;
    font-weight: bold;

    h1,
    .title-1 {
      &:not(.reset) {
        line-height: 1;
        @apply text-neg-5-[18vw] md:text-neg-5-[11vw];
      }
    }

    h2,
    .title-2 {
      &:not(.reset) {
        line-height: 1.2;

        @apply text-neg-5-36 lg:text-neg-5-[3.5vw];
      }
    }

    h3,
    .title-3 {
      &:not(.reset) {
        line-height: 1;
        @apply text-neg-5-60 sm:text-neg-5-90 md:text-neg-5-[6.5vw];
      }
    }

    h4,
    .title-4 {
      &:not(.reset) {
        line-height: 1;
        @apply text-neg-5-[70px] sm:text-neg-5-[80px] lg:text-neg-5-[6vw];
      }
    }

    h5,
    .title-5 {
      &:not(.reset) {
        line-height: 1;
        @apply text-neg-5-[7vw];
      }
    }

    h6,
    .title-6 {
      &:not(.reset) {
        line-height: 1;
        @apply text-neg-5-50 sm:text-neg-5-65 md:text-neg-5-[5.5vw];
      }
    }

    h6.title-7 {
      line-height: 1;
      @apply text-neg-5-20;
    }

    p {
      font-family: "JetBrains Mono", serif;
      @apply lg:text-[1.3vw];
    }
  }
}
