:root {
  --mobile-width: calc(100vw - 16px);
  --desktop-width: calc(100vw - 16vw);
}

html {
  scroll-behavior: smooth;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  position: relative;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  height: 100dvh;
  width: 100vw;
  transition: background-color 0.5s ease;
  &.is-contact {
    background-color: var(--bg-body);

    // .page::before {
    //   background: url("/bg-unicorn-4.png") center / cover no-repeat;
    //   filter: unset;
    //   animation: fadeIn 0.3s ease;
    // }
    .main {
      background-color: var(--bg-body);
      // display: none;
    }
    .shadow-screen {
      box-shadow:
        rgba(63, 255, 249, 0.03) 5px 15px 20px 15px inset,
        rgba(63, 255, 249, 0.03) -5px -10px 20px 15px inset;
      @screen md {
        box-shadow:
          rgba(63, 255, 249, 0.1) 5px 15px 20px 15px inset,
          rgba(63, 255, 249, 0.1) -5px -10px 20px 15px inset;
      }
    }
  }
}

.page {
  position: relative;
  height: 100dvh;
  width: 100vw;
  margin-inline: auto;
  container-type: inline-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--ws-primary-color);
  overflow: hidden;
  z-index: 2;
  // &::before {
  //   content: "";
  //   position: absolute;
  //   height: 100dvh;
  //   width: 100vw;
  //   inset: 0;
  //   filter: saturate(0%) brightness(200%);
  //   @screen md {
  //     // background: url("/horror-bg.png") center / cover no-repeat;
  //   }
  // }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: var(--mobile-width);
  max-width: 1920px;
  container-type: inline-size;
  margin-inline: auto;
  margin-top: 4dvh;
  overflow-y: auto;
  z-index: 1;
  background-color: var(--bg-primary);
  border-radius: 20px;
  height: calc(100dvh - 8dvh);

  backface-visibility: hidden;
  transform: translateZ(0);

  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  transition: background-color 0.5s ease;

  @screen md {
    border-radius: 50px;
    width: var(--desktop-width);
    margin-top: 4dvh;
  }
}

section {
  position: relative;
  backface-visibility: hidden;
  transform: translateZ(0);
  scroll-behavior: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

figure {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow-screen {
  position: fixed;
  height: calc(100dvh - 8dvh);
  width: calc(100% - 16px + 1px);
  max-width: 1920px;
  inset: 0;
  margin-inline: auto;
  margin-top: 4dvh;
  pointer-events: none;
  border-radius: 20px;
  box-shadow:
    rgba(60, 60, 60, 0.08) 5px 15px 20px 15px inset,
    rgba(60, 60, 60, 0.08) -5px -10px 20px 15px inset;
  z-index: 99999;
  transition: box-shadow 0.5s ease;
  @screen md {
    box-shadow:
      rgba(60, 60, 60, 0.3) 5px 15px 40px 15px inset,
      rgba(60, 60, 60, 0.3) -5px -10px 40px 15px inset;
    width: calc(100% - 16vw + 1px);
    border-radius: 50px;
  }
}
