html {
  scroll-behavior: smooth;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  position: relative;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  height: 100vh;
  width: 100vw;
  transition: background-color 0.3s ease;
  &.is-contact {
    background-color: var(--bg-body);

    .page::before {
      background: url("/bg-unicorn-4.png") center / cover no-repeat;
      filter: unset;
      animation: fadeIn 0.3s ease;
    }
  }
}

.page {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin-inline: auto;
  container-type: inline-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--ws-primary-color);
  overflow: hidden;
  z-index: 2;
  &::before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    inset: 0;
    background: url("/horror-bg.png") center / cover no-repeat;
    filter: saturate(0%) brightness(200%);
  }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: calc(100vh - 8vh);
  width: calc(100% - 16vw);
  max-width: 1920px;
  container-type: inline-size;
  margin-inline: auto;
  margin-top: 4vh;
  overflow-y: auto;
  z-index: 1;
  background-color: var(--bg-body);
  border-radius: 50px;

  backface-visibility: hidden;
  transform: translateZ(0);

  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

section {
  backface-visibility: hidden;
  transform: translateZ(0);
  scroll-behavior: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

figure {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow-screen {
  position: fixed; // ✅ Fixed au lieu d'absolute
  height: calc(100vh - 8vh);
  width: calc(100% - 16vw + 1px);
  max-width: 1920px;
  inset: 0;
  margin-inline: auto;
  margin-top: 4vh;
  pointer-events: none;
  border-radius: 50px;
  box-shadow:
    rgba(60, 60, 60, 0.3) 5px 15px 40px 15px inset,
    rgba(60, 60, 60, 0.3) -5px -10px 40px 15px inset;
  z-index: 99999;
  // transform: translate(9.5%, 0%);
}
