@layer base {
  img {
    image-rendering: auto;
    image-rendering: -webkit-optimize-contrast;
  }

  * {
    box-sizing: border-box;
  }

  body {
    position: relative;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // background-color: var(--bg-body);
    background-color: var(--bg-primary);

    color: var(--text-primary);
    height: 100vh;
    max-width: 100vw;
  }
}

.page {
  position: relative;
  background-color: var(--bg-body);
  min-height: 100vh;
  height: 100%;
  margin-inline: auto;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  width: 100vw;
  max-width: 2050px;
  header,
  section,
  footer {
    &:not(.reset) {
      position: relative;
      width: 100vw;
      margin-inline: auto;
      @screen lg {
        width: calc(100vw - 180px);
        max-width: calc(2050px - 180px);
      }
    }
  }
  main {
    min-height: 100vh;
  }
}

.page-padding {
  @apply px-20 md:px-60;
}

figure {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
